html, body {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Schoolbell', cursive;
  font-weight: bold;
}

.background-wrapper {
  position: absolute;       /* back to absolute */
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;         /* fills visible area */
  z-index: -1;              /* stays behind all sections */
  
  background-color: #FFE0AF;
  background-image:
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88), 
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
  linear-gradient(45deg, transparent, transparent 50%, #FFC87F 50%, #FFC87F);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px, 50px 0px;
  -webkit-animation: scroll 15s linear infinite;
}

@-webkit-keyframes scroll {
  from { background-position: 0 0, 50px 50px, 50px 0; }
  to { background-position: -100px -100px, -50px -50px, -50px -100px; }
}

#navbar {
  border: 2px solid black;
}

#header {
  border: 2px solid black;
}

#ac-display {
  border: 2px solid black;
}

#main-content {
  border: 2px solid black;
}

#checkout-cart {
  border: 2px solid black;
}

#footer {
  border: 2px solid black;
}