.banner {
  position: relative;
  width: 100%;
  height: 500px; 
  overflow: hidden;
  border-bottom-left-radius: 100% 130px;
  border-bottom-right-radius: 100% 130px;
}

.banner img {
  width: 100%;
  height: 140%;
  
}

.banner > img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(1.08);
  animation: panX 15s ease-in-out infinite alternate;
}

@keyframes panX{
  0%   { transform: translate(-56%, -50%) scale(1.08); }
  100% { transform: translate(-44%, -50%) scale(1.08); }
}

.brown-box{
  width: min(1000px, 80%);
  margin: -110px auto 80px;     
  position: relative;
  z-index: 2;                  
  background: #7f6951;         
  color: #fff;
  border-radius: 22px;
  padding: 30px 20px;
  text-align: center;
  background-image: radial-gradient(#8e785f 1.2px, transparent 1.2px);
  background-size: 10px 10px;
  box-shadow: 0 12px 24px rgba(0,0,0,.18);
}

.ribbon {
  position: absolute;
  margin: -50px auto 80px; 
  top: 18px;            
  right: 25px;          
  background-color: #eaf8ef;
  color: #5d3d1e;
  font-weight: bold;
  font-size: 0.95em;    
  padding: 8px 16px;    
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


.ribbon::after {
  content: "";
  position: absolute;
  bottom: -12px;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #dfeee2 transparent transparent transparent;
}

.ribbon::after {
  right: 10px;
}