#main-content {
  background-image: url("../img/yellow-oil-paint-textured-background.jpg");
  background-size: cover;
  background-attachment: local;
  background-position: center;
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.bush-banner {
  background-image: url("../img/bushes.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
  width: 100%;
  height: 120px;
  position: relative;
  top: 98px;
  z-index: 0;           
  transform: rotateX(180deg);   
}

/* 
CATEGORY SIGNBOARD 
*/
#upper-menu {
  width: 70%;
  margin: 0 auto;
}

#menu-signboard {
  background-image: url("../img/wood.jpg");
  background-position-x: 1%;
  border: 5px solid #3c220f;
  border-radius: 16px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
  width: 50%;
  margin: 90px auto 40px;
  text-align: center;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

#menu-signboard h2 {
  font-family: 'Caveat', cursive;
  color: #ffae00;
  font-size: 55px;
  letter-spacing: 1.5px;

  /* realistic depth shadow */
  text-shadow:
    0 2px 2px rgba(0, 0, 0, 0.6),   
    0 4px 4px rgba(0, 0, 0, 0.5),   
    0 6px 6px rgba(0, 0, 0, 0.4),   
    0 -1px 1px rgba(255, 255, 255, 0.15); 
}

  @media (max-width: 700px) {
    #menu-signboard {
      width: 70%;
    }
  }

  @media (max-width: 600px) {
    #menu-signboard {
      width: 100%
    }
  }


/* wooden pegs on corner */
#menu-signboard::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: radial-gradient(circle, #6b3c16 20%, #3a1d0a 80%);
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

/*
CATEGORY BUTTONS
*/
.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

.cat-btn {
  background-color: #f6e1bc;
  color: #4a2e1a;
  border: 4px solid #4a2e1a; 
  border-radius: 36px; 
  padding: 10px 18px;
  font-family: 'Schoolbell', cursive;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cat-btn:hover { background-color: #ffcf77; transform: scale(1.05); }
.cat-btn.active {
  background-color: #0e8253;
  color: #fffdf5;
  border-color: #0b5f3b;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Food menu section for 375px width as base design */
#main-title {
  text-align: center;
  margin: 0 auto 10px auto;     
  padding: 8px 20px;
  background-color: #0e8253;
  border-radius: 8px;
  color: #fffdf5;
  width: fit-content;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.menu-grid {
  display: grid;
  grid-template-columns: 2fr;     
  justify-items: center;
  row-gap: 20px;
  column-gap: 0;
  padding: 1rem;
  box-sizing: border-box;
}

#food-menu .food-card {
  width: 90%;                     
  max-width: 230px;
  height: 320px;
  /* background: #fff9e2; */
  background-image: url("../img/v602-nunoon-14a-rippednotes.jpg");
  background-size: cover;
  border-radius: 20px;
  padding: 1rem 1rem 0.8rem 1rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  border: 10px solid #f6e1bc;     
  outline: 4px solid #0e8253;     
  outline-offset: -15px;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  font-family: 'Schoolbell', cursive;
}

.food-card h3 {
  font-family: "Caveat", cursive;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  background: linear-gradient(#0b5f3b, #227c35);
  margin: 5px 0 10px 0;
  font-size: 21px;
}

.food-card .desc {
  color: rgb(123, 122, 122);
  font-style: italic;
  font-size: 15px;
}

.food-card img {
  width: 180px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.7);
}

.food-card {
  position: relative; /* button positions relative to card */
}

.food-card .price {
  position: absolute;
  bottom: 1px;
  left: 19px;
  color: #4a2e1a;
  font-family: "Schoolbell", cursive;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 16px;
  border: 3px solid #b27745;
  border-radius: 12px 4px 12px 4px;

  background:
    radial-gradient(circle at 1px 1px, rgba(90, 60, 20, 0.15) 1px, transparent 0) repeat,
    #f6e1bc;
  background-size: 5px 5px, 100% 100%;

  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Width larger and equal to 750px (Ipad devices) */
@media (min-width: 750px) {
  .menu-grid {
    grid-template-columns: repeat(2, 2fr); /* 2 columns */
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    padding: 2rem;
  }

  #food-menu .food-card {
    width: 320px;
    padding: 1.2rem 1rem;
  }

  .food-card img {
    width: 200px;
    height: 140px;
  }
}

/* Width larger and equal to 1100px */
@media (min-width: 1100px) {
  .menu-grid {
    grid-template-columns: repeat(3, 2fr); /* 2 columns */
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    padding: 2rem;
  }

  #food-menu .food-card {
    width: 320px;
    padding: 1.2rem 1rem;
  }

  .food-card img {
    width: 200px;
    height: 140px;
  }
}


/* Width larger and equal to 1366px */
@media (min-width: 1366px) {
  .menu-grid {
    grid-template-columns: repeat(3, 2fr); 
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    justify-items: center;
    padding: 2rem 4rem;
  }

  #food-menu .food-card {
    width: 340px;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  .food-card img {
    width: 220px;
    height: 150px;
  }
}

/* >= 1600px optional cases */
@media (min-width: 1600px) {
  .menu-grid {
    grid-template-columns: repeat(3, 0.5fr);
  }
}

/*  Enlarge effect for food cards when user hovers */
.food-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}

.food-card:hover {
  transform: scale(1.05);  /* slightly enlarge the card */
  box-shadow: 0 10px 25px rgba(255, 200, 120, 0.6);  /* warm glowing shadow */
  z-index: 2; /* make sure the enlarged card sits on top of others */
}

/* Floating + button */
.food-card {
  position: relative; /* ensure button positions relative to card */
}

.add-btn {
  position: absolute;
  bottom: 15px;
  right: 19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2.5px solid black;
  background-color: #0e8253;
  color: #fffdf5;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  z-index: 3;
}

.food-card:hover .add-btn{
  background-color: #13a064;
  transform: rotate(360deg) scale(1.1);
}